{% extends 'cdc/base.html' %}
{% load staticfiles %}
{% block content %}    <br/><br/>
    <div id="login">
        <form action="{% url 'cdc:login' %}" method="post"><br/>
           Company name:
            <br/>{{ form.company }}<br/>
           Account number:
            <br/>{{ form.account }}<br/>
           PIN:
           <br/>{{ form.password }}<br/><br/>
        <input type="submit" value="login"/>
        {% csrf_token %}
        <input type="hidden" name="next" value="True"/>
        <br/><br/>
            <p style="color:red">{{ form.errors }}</p>
        </form>
    </div>
{% endblock %}
